body{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(213,6,6,1) 100%);
    color: rgb(233, 230, 230);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

h1{
    color: rgb(255, 202, 104);
}

h2{
    color: rgb(255, 202, 104);
}

h3{
    color: rgb(255, 202, 104);
}

div{
    width: auto;
}


header h6{
    font-size: 2.8em;
    background-color: rgb(213, 6, 6, 0);
    color: rgb(255, 202, 104);
    font-weight:bold;
    width: 100%;
    margin: 0px;
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
}

.flip-card {
    background-color: transparent;
    width: 660px;
    height: 550px;
    perspective: 1000px;
    border: 10px;
    border-radius: 30%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: rgb(38, 49, 114);
    color: white;
    transform: rotateY(180deg);
  }