body{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(213,6,6,1) 100%);
    color: rgb(233, 230, 230);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

h1{
    color: rgb(255, 202, 104);
}

h2{
    color: rgb(255, 202, 104);
}

h3{
    color: rgb(255, 202, 104);
}

div{
    width: auto;
}


header h6{
    font-size: 2.8em;
    background-color: rgb(213, 6, 6, 0);
    color: rgb(255, 202, 104);
    font-weight:bold;
    width: 100%;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.flip-card {
    background-color: transparent;
    width: 660px;
    height: 550px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: rgb(38, 49, 114);
    color: white;
    transform: rotateY(180deg);
  }
<<<<<< HEAD
  
  .bg-black{
    background-color: rgba(112, 36, 36, 0.363);
  }

  #logo{
    width: 140px;
    height: 110px;
    border-radius: 4px;
  }

  .navbar-brand{
    padding: 14px 20px;
    font-size: 16px;
  }

  .navbar-nav{
    width: 100%;
  }

  .nav-item{
    padding: 6px 14px;
    text-align: center;
  }

  .nav-link{
    padding-bottom: 10px;
  }

  .v-line{
    background-color: gray;
    width: 1px;
    height: 20px;
  }

  .navbar-collapse.collapse.in{
    display: block !important;
  }

  @media (max-width: 576px) {
    .nav-item{
      width: 100%;
      text-align: left;
    }
    .v-line{
      display: none;
    }
  }

  li a{
    text-decoration: none;
  }

  nav a{
    text-decoration: none;
  }

  li{
    list-style: none;
  }

  .foto{
    float: right;
    margin: 0px 0px 20px 20px;

  }

  .card{
    text-align: left;
>>>>>> 81080ebe4897af0f5fecd716d54ed7306c0cd895

}