body{
    background-color: rgb(187, 1, 39);
    color: rgb(233, 230, 230);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

h1{
    color: rgb(255, 202, 104);
}

h2{
    color: rgb(255, 202, 104);
}

h3{
    color: rgb(255, 202, 104);
}

div{
    width: auto;
}


header h6{
    text-align: center;
    vertical-align: middle;
    font-size: 2.8em;
    background-color: rgb(255, 202, 104);
    color: rgb(187, 1, 39);
    height: 200px;
    font-weight:bold;
    width: 100%;
}